{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
     @template block_questionpopup/question
    Template for the question.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * question string The question for current active local
    * answer string The given answer

    Example context (json):
    {
        "question": "Some question",
        "answer": "Some answer"
    }
}}
<div>
    <form id="question_popup">
        {{#questions.first}}
            <div class="form-group">
                <label for="question">{{questions.first}}
                    <input class="form-control" maxlength="{{questions.first_maxlength}}" type="text" required id="question_1" name="question_1" value="{{answers.question_1}}" style="width: 100%"/>
                </label>
            </div>
        {{/questions.first}}
        {{#questions.second}}
            <div class="form-group">
                <label for="question">{{questions.second}}
                    <input class="form-control" type="text" maxlength="{{questions.second_maxlength}}" required id="question_2" name="question_2" value="{{answers.question_2}}" style="width: 100%"/>
                </label>
            </div>
        {{/questions.second}}
        {{#questions.third}}
            <div class="form-group">
                <label for="question">{{questions.third}}
                    <input class="form-control" type="text" maxlength="{{questions.third_maxlength}}" required id="question_3" name="question_3" value="{{answers.question_3}}" style="width: 100%"/>
                </label>
            </div>
        {{/questions.third}}
    </form>
</div>